<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">

    <title>ChatRoom</title>
</head>
<body>
    <div class="friends-container">
        <div class="friends-header">
            <h2>Friends</h2>
        </div>
        <ul class="friend-list">
            <li class="friend-item">Alice</li>
            <li class="friend-item">Bob</li>
            <li class="friend-item">Charlie</li>
        </ul>
        <div class="friend-actions">
            <button class="add-friend-btn">添加好友</button>
            
            <div id="searchModal" style="display:none;">
                <input type="text" id="friendUsername" placeholder="输入好友的 username">
                <button id="sendRequest">发送请求</button>
            </div>
            
            <button class="friend-requests-btn">好友申请列表</button>
        </div>
        <a href="{{ url_for('logout') }}" id="logout-btn" class="button-style">退出登录</a>
    </div>
    <div class="chat-container">
        {% for message in get_flashed_messages() %}
			<div class=flash>{{ message }}</div>
        {% endfor %}
        <div class="chat-header">
            <h2>Chatroom</h2>
        </div>
        <div class="chat-messages">
            <div class="message received">
                <p>Hello! How are you?</p>
            </div>
            <div class="message sent">
                <p>I'm good, thanks!</p>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type a message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/addfriends.js') }}"></script>
</body>
</html>
