<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">
    <title>ChatRoom</title>
</head>
<body>
    <script>
        var userId = "{{ user_id }}"
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addfriends.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    <div class="friends-container">
        <div class="friends-header">
            <h2>Friends</h2>
        </div>
        <ul class="friend-list">
            {% for friend in friends %}
                <li class="friend-item" data-id="{{ friend.id }}" onclick="loadChat({{ friend.id }}) ">{{ friend.username }}</li>
            {% endfor %}
        </ul>
        <div class="friend-actions">
            <button class="add-friend-btn">添加好友</button>
            
            <div id="searchModal" style="display:none;">
                <input type="text" id="friendUsername" placeholder="输入好友的 username">
                <button id="sendRequest">发送请求</button>
            </div>
            <a href="{{ url_for('friendRequests') }}" id="friend-requests-btn" class="friend-requests-btn">好友申请列表</a>
            <a href="{{ url_for('deleteFriend') }}" id="friend-delete-btn" class="friend-delete-btn">删除好友</a>
        </div>
        <a href="{{ url_for('logout') }}" id="logout-btn" class="button-style">退出登录</a>
    </div>
    <div class="chat-container">
        {% for message in get_flashed_messages() %}
			<div class=flash>{{ message }}</div>
        {% endfor %}
        <div class="chat-header">
            <h2>Chatroom</h2>
        </div>
        <div class="chat-messages" id="chat-messages">
        </div>
        <div class="chat-input">
            <input type="text" id="message" placeholder="Type a message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</body>
</html>
