<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好友申请列表</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/friend_requests.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">
</head>
<body>
<a href="/chat">返回聊天</a>
<h2>好友申请</h2>

<ul>
    {% for req in requests %}
        <li>
            {{ req.sender.username }} 想添加你为好友。
            <button onclick="acceptRequest({{ req.id }})">接受</button>
            <button onclick="rejectRequest({{ req.id }})">拒绝</button>
        </li>
    {% endfor %}
</ul>

</body>
</html>
